/*importación de estilo para iconos de redes sociales*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/*estilo de letras para todas las páginas*/
* {
  font-family: "Montserrat", sans-serif;
}

//Varibles

$blue: #004f98;
$grey: #cbc6c1;

//mixins

@mixin wh($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

@mixin color-size {
  color: $grey;
  font-size: 0.875em;
}

/* background azul */
.bgBlue {
  background-color: $blue;
}

/* width 300 */

.w-300 {
  @include wh(300px, auto);
}

/* separador de secciones */
hr.separador {
  border: 0;
  height: 12px;
  color: $blue;
}

hr.separador--margin {
  margin-left: 50px;
  margin-right: 50px;
}

/* estilo del eslogan en la pagina index */
#eslogan {
  position: relative;
  margin-top: 85px;
  z-index: 10;
}

/* transición de los cards en la sección de servicios en el index */
.cardTransition {
  transition: all ease-out 0.2s;
}

.cardTransition:hover {
  transform: scale(1.05);
}

/* background de los botones de los cards en la sección de servicios en el index */
.btnCardBg {
  background-color: $blue;
  color: #fff;
}

/* imagenes redondas */
.imgRedonda {
  border-radius: 150px;
  overflow: hidden;
  @include wh(200px, 200px);
  display: flex;
  justify-content: center;
}

/* seteo de los botones de social media del footer - extraidos del framework https://freefrontend.com/css-social-media-icons/*/
.social-container {
  width: 400px;
  margin: 40vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;

  & li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;

    & a {
      display: inline-block;

      & i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all 265ms ease-out;
      }
    }

    & a:before {
      transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      content: " ";
      @include wh(60px, 60px);
      border-radius: 100%;
      display: block;
      background: linear-gradient(45deg, #00b5f5, $blue);
      transition: all 265ms ease-out;
    }

    & a:hover:before {
      transform: scale(0);
      transition: all 265ms ease-in;
    }

    a:hover i {
      transform: scale(2.2);
      -ms-transform: scale(2.2);
      -webkit-transform: scale(2.2);
      color: #fff;
      background: -webkit-linear-gradient(45deg, #00b5f5, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 265ms ease-in;
    }
  }
}

/* seteo de los links de la pagina sitios        */
.linkSitios {
  text-decoration: none;
}

/* seteo del formulario de contacto */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  @include color-size;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  @include color-size;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  @include color-size;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  @include color-size;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  @include color-size;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: $grey;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  @include color-size;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: $grey;
}

input:hover::placeholder,
textarea:hover::placeholder {
  @include color-size;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: $grey;
}

input:hover::placeholder,
textarea:hover::placeholder {
  @include color-size;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: $grey;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 471px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  color: #b3aca7;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}
